
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="products">BookApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="products">Home</a>
        </li>
      </ul>
      <div class="btn-group1" role="group" aria-label="Basic mixed styles example">
        <button type="button" routerLink="signup" class="btn btn-danger">Sign-Up</button>
      </div>
      <div class="btn-group2" role="group" aria-label="Basic mixed styles example">
        <button type="button" routerLink="login" class="btn btn-success">Login</button>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input  class="form-control"   type="search" [(ngModel)]="searchTerm"  (keyup)="search($event)" [ngModelOptions]="{standalone: true}" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>





